h2, h3, body, li, th, td {
	color: #FFFF99;
	font-family: Verdana, Geneva, sans-serif;
}
body {
	background-color: #7C7C7C;
}
ul { list-style: none; }
li:hover 
{
	color: maroon;
	background-color: #ffd9d9;
}
table, th, td {
	padding: 6px;
	border: 1px solid black;
	border-collapse: collapse;
}
td.c1 {
	background-color: #DDDDDD;
}
a:link {
	display: block;
	font-weight: bold;
	color: #3366CC;
	background-color: #FF704D;
	width: 120px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
}
a:hover, a:active {
	background-color: #B24E36;
}
table {
	border-radius: 20px;
}
